/* Blocks */
div.tournament {
    border: 1px dashed black;
    padding: 1em;
    display: inline-block;
}

.title {
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 0.5em;
}

/* */
span.live-now {
    color: red;
    font-weight: bolder;
}

.game {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

#live_chart_menu {
    display: flex;
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
}

.live-menu-item {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}

#live_header {
    text-align: center;
    font-size: xx-large;
}

#live_header > div {
    display: inline-block;
    vertical-align: middle;
}

.live-player {
    text-align: center;
}
.live-player-top-row {
    text-align: center;
}
.live-player-bottom-row {
    text-align: center;
    margin: -0.5em;
}

.live-timer {
    font-weight: bolder;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.live-supply {
    display: inline;
}
.live-minerals, .live-gas {
    font-size: 0.6em;
    display: inline;
}
.live-minerals {
    color: #4b9eb9;
}
.live-gas {
    color: #44d52f;
}
/* Charts */

div.live-chart {
    width: 50%;
    display: inline-block;
}