{% extends "index.html" %}

{% load ratings_extras %}

{% block title %}LIVE! Aligulac{% endblock %}

{% block content %}

{% include "messages.html" %}

<h3>Live Tournaments</h3>

{% for t in running %}
{% ifchanged %}
<div class="host">
  {{ t.host.name }}
{% endifchanged %}

<div class="tournament">
  <div class="title">
    {{ t.name }}
  </div>
  <div>
    {% for match in t.match_set.all %}
    <div class="match">
      {{ match }}
      <div>
        {% for game in match.game_set.all %}
        <div class="game {% if game.is_live %}live{% endif %}">
          <a href="game/?id={{ game.id }}">
            Game {{ game.game_index }}
            {% if game.is_live %}
            <span class="live-now">LIVE</span>
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% ifchanged %}
<!-- END {{ t.host.name }} -->
</div>
{% endifchanged %}

{% endfor %}

{% endblock %}
